.hd {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-direction: row;
    align-content: space-around;
    /*align-items: center;*/
    place-items: center;
    background-color: #D33A2C;
    width: 100%;
    /*height: 150px;*/
    padding: 1em 0;
    position: relative;
    min-height: 6.2375rem;
}

.logo {
    width: 50%;
    height: auto;
}

.hd-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 6px;
}

.hd-items h2,
p {
    color: white;
}

.hd-items-img {
    width: 39px;
    height: 44px;
}