body {
    margin: 0;
    box-sizing: border-box;
}

.hd {
    display: grid;
    grid-template-columns: 10% repeat(5, 1fr) 10%;
    align-content: space-around;
    /*align-items: center;*/
    place-items: center;
    background-color: #666666;
    width: 100%;
    /*height: 150px;*/
    padding: 1em 0;
    position: relative;
    min-height: 6.2375rem;
    /* margin: 0;
    padding: 0; */
}

.logo {
    width: 50%;
    height: auto;
}

.hd-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 6px;
}

.hd-items h2,
p {
    color: white;
}

.hd-items-img {
    width: 39px;
    height: 44px;
    transform: rotate(-20deg);
}

.hd-items-img:hover {
    transform: rotate(0deg);
}

.btn-wrap {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    border: 2px;
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    padding: 20px 20px;
}

.belowHead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.artContent {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.artContent1 {
    background-color: rgb(212, 206, 206);
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.artContent:nth-child(2) {
    background-color: #666666;
}

.artContent>h1 {
    color: white;
}

.artContent1>h1 {
    color: rgb(2, 2, 2);
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    place-items: center;
    flex-grow: initial;
    /* margin-right: 200px; */
}

.artImg {
    width: 60px;
    height: 60px;
    border: 4px solid white;
    border-radius: 10px;
    margin-right: 20px;
    transform: rotate(-20deg);
}

.artImg:hover {
    transform: rotate(0deg);
}

.authName {
    margin-right: 5px;
    font-size: 20.871px;
    text-shadow: 1px 1px rgba(0, 0, 0, .25);
}

.author>span {
    color: white;
    font-size: 15px;
}